#通用部分

.svn
*.csproj
*.sln
*.user
*.idea
*.iml
*.metadata
*.pyc
.recommenders
RemoteSystemsTempFiles
.settings
.classpath
.project
.vs
.factorypath
.DS_Store
target
__pycache__
*.pyc

#office
~*.xls
~*.xlsx
~*.doc
~*.docx
~*.ppt
~*.pptx

#wps
.~*.xls
.~*.xlsx
.~*.docx

#laya
.laya
*.map
*.suo
*.rec





