#通用部分

.svn
*.csproj
*.sln
*.user
*.idea
*.iml
*.metadata
*.pyc
.recommenders
RemoteSystemsTempFiles
.settings
.classpath
.project
.factorypath
.DS_Store
target
__pycache__
*.pyc

#office
~*.xls
~*.xlsx
~*.doc
~*.docx
~*.ppt
~*.pptx

#wps
.~*.xls
.~*.xlsx
.~*.docx

#laya
.laya
*.map
*.suo
*.rec

#cmake
Makefile
*.cmake
CMakeCache.txt
CMakeFiles
*.cbp
*.pdb

#record
/record

#clientUnity
/client/temp
/client/release
/client/cdnSource

/client/game/.vs
/client/game/Library
/client/game/Temp
/client/game/obj
/client/game/game.CSharp.csproj
/client/game/game.Editor.csproj
/client/game/game.csproj
/client/game/game.sln
/client/game/game.userprefs

/client/game/Assets/Editor/**/*.meta
!/client/game/Assets/Editor/game/component/**/*.meta

/client/game/Assets/src/**/*.meta
!/client/game/Assets/src/game/component/**/*.meta

!/client/game/Assets/src/game/Main.cs.meta

/client/game/Assets/StreamingAssets
/client/game/Assets/StreamingAssets.meta

/client/game/Assets/source/ui/generateModels
/client/game/Assets/source/ui/generateModels.meta

/client/game/Assets/Plugins/Editor/JetBrains
/client/game/Assets/Plugins/Editor/JetBrains.meta

/client/hotfix/src/**/*.meta
!/client/hotfix/src/hotfix/component/**/*.meta

!/client/hotfix/hotfix.sln
!/client/hotfix/hotfix.csproj
/client/hotfix/hotfix.csproj.user
/client/hotfix/obj
/client/hotfix/Temp

#dirlink
/client/game/Assets/Editor/shine
/client/game/Assets/Editor/shine.meta
/client/game/Assets/Editor/shineLib
/client/game/Assets/Editor/shineLib.meta
/client/game/Assets/Editor/commonGame
/client/game/Assets/Editor/commonGame.meta

/client/game/Assets/src/shine
/client/game/Assets/src/shine.meta
/client/game/Assets/src/shineLib
/client/game/Assets/src/shineLib.meta
/client/game/Assets/src/commonGame
/client/game/Assets/src/commonGame.meta
/client/game/Assets/src/hotfix
/client/game/Assets/src/hotfix.meta

/client/game/Assets/source/commonGame
/client/game/Assets/source/commonGame.meta


#clientLaya
!/client/game/.laya/gulpfile.js
!/client/game/.laya/launch.json
!/client/game/.laya/publish.js
/client/game/bin/js
/client/game/release

#dirlink
/client/game/src/shine
/client/game/src/commonGame

#server
/server/temp
/server/bin/log
/server/bin/serverConfig/serverLocal.xml

#dirlink
/server/clientProject/commonClient
/server/gmClientProject/commonGMClient

/server/project/shine
/server/project/commonBase
/server/project/commonSceneBase
/server/project/commonCenter
/server/project/commonGame
/server/project/commonLogin
/server/project/commonManager
/server/project/commonScene

/server/projectC/shineLib
/server/projectC/shine
/server/projectC/commonGame
/server/projectC/game/x64
/server/projectC/x64
/server/projectC/cmake-build-debug
!/server/projectC/projectC.sln

/server/projectC/game/game
/server/projectC/game/game.dll
/server/projectC/game/libgame.dylib
/server/projectC/game/libgame.so

/server/toolProject/shine8
/server/toolProject/shineTool
/server/toolProject/commonTool

/server/testProject/commonTest
/server/tools
/server/toolsMac/fastJar
/server/toolsMac/jar

/server/toolsGame/preJar/gameTools.jar

/server/project/*.log

#otherLink
/common/data/commonData
/common/data/shineData
/common/commonConfig
/docs/commonDocs
/link/shine.pyc

#版本相关(如需git进行版本存储，就注掉)
/client/save
/client/release
/client/cdnSource
/server/bin/serverConfig/clientVersion.xml
/server/save/dbRecord.bin


